html, body {
    height: 100%;
}

body {
    font-size: 16px;
}

.columnMacro{
    float: left;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5em;
}
.footer, .push {
    height: 5em;
}
.navbar .navbar-form.navbar-right:last-child {
    margin-right: 0px;
    padding-top: 4px;
}
.page-header {
    border: none;
    margin: 0px;
}
.page-header .breadcrumb {
    margin: 0px;
    border: none;
    background: none;
    padding:0 0 0 3px;
}
.sidebar.nav {
    background-color: #f5f5f5;
    border-radius: 4px;
}
.sidebar.nav > .active > a, .sidebar.nav > .active:hover > a, .sidebar.nav > .active:focus > a {
    font-weight: bold;
    background-color: #dce6ee;
    border-right: 3px solid #428bca;
}
.sidebar .nav li {
    list-style: none;
    /* display: block; */
    /* padding: 3px 0px; */
}
.sidebar .nav > li ul a {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 90%;
}

.main-content .panel-body pre {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

.results-list h3 {
    margin-top: 0;
}

.result {
    margin-top: 10px;
}
.result a, .result a:hover {
    color: #000;
    text-decoration: none;
}
.result .result-title {
    font-weight: bold;
}
.result .result-desc {
}
.result .result-link {
    color: #008cba;
}

.form-control {
    height: 27px;
}

.page-header h1 {
    margin-top: 0;
}

@media (min-width: 768px) {
    .navbar-wrapper {
        padding-top: 20px;
    }
    .navbar-wrapper .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .navbar-wrapper .navbar {
        padding-left: 0;
        padding-right: 0;
    }
    
    .dropdown-menu .dropdown-menu {
        left: 100%;
        top: 0;
    }
    
    .dropdown.open .dropdown b.caret {
        border-top: 4px solid transparent;
        border-left: 4px solid ;
        border-bottom: 4px solid transparent;
        position: absolute;
        display: inline-block;
        left: 90%;
        margin-top: 4%;
    }
    
    .dropdown.open .dropdown:hover .dropdown-menu {
        display: block;
    }
}

.sidebar.nav ul {
    padding-left: 0;
}
.sidebar.nav ul a:not(.title) {
    padding-left: 20px;
}
.sidebar.nav ul ul a:not(.title) {
    padding-left: 30px;
}
.sidebar.nav a:not(.title) {
    display: block;
    padding: 5px
}
.sidebar.nav li a:hover, .sidebar.nav li a:focus {
    text-decoration: none;
    background-color: #eee;
}

.blog-sidebar.nav a:not(.title) {
    padding-left: 10px;
    cursor: pointer;
}
.blog-sidebar.nav ul {
    padding-left: 0;
}
.blog-sidebar.nav ul a:not(.title) {
    padding-left: 15px;
}
.blog-sidebar.nav ul a ul a:not(.title) {
    padding-left: 20px;
}

.btn {
    width: 200px;
    margin: auto;
}
.jumbotron h1 {
    text-align: center;
}

.credit {
    line-height: 10px;
    margin: 0;
}

#footer {   
    border-color: #222;
    color: #fff;
    height: 30px;
}

.sp-slide-select{
    position:absolute;
    z-index:1000;
    top: 40%;
    height: 50px;
    width: 50px;
    background-color: rgba(0,0,0,0.5);
    cursor:pointer;
    line-height: 45px;
    text-align:center;
    font-size: 40px;
    color:white;
    display: none;
}

.sp-stage:hover .sp-slide-select{
    display: block;
}

.sp-slide-select.next-btn{  
    right:0;
}